{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Wacky Widgets</title>
    </head>
    <body>
        <h1>Wacky Widgets</h1>
        {% if widgets|length > 0 %}
            <table class="pure-table pure-table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                {% for widget in widgets %}
                <tbody>
                    <tr>
                        <td>{{ widget.description }}</td>
                        <td>{{ widget.quantity }}</td>
                        <td><a href="{% url  'delete_widget' widget.id %}">X</a></td>
                    </tr>
                </tbody>
                {% endfor %}
                <tfoot>
                    <tr>
                        <th>Total Quantity</th>
                        <th>{{ widget_sum.s }}</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        {% else %}
            <h2>No Widgets :(</h2>
        {% endif %}
        <hr>
        <h4>Add Widget</h4>
        <form action="{% url  'add_widget' %}" method="post" class="pure-form">
            {% csrf_token %}
            {{ widget_form.as_p }}
            <input type="submit" value="Add Widget" class="btn pure-button">
        </form>
    </body>
</html>